<html>
<head>
    <style>
        .grey-bg{
            background: #ccc;
            /* min-height: 100vh; */
        }
        .full-w{
            width: 100vw;
        }
    </style>
</head>
<body>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="adarsh.css">
        <nav class="navbar navbar-dark bg-dark text-center">
            <div class="d-flex justify-content-between">
                    <div class="text-center">
                        <a class="navbar-brand" href="#">
                            Team-binaries (Centre Admin) [ Web dashboard ]
                        </a>
                    </div>
                    <div>
                        <button class="btn btn-outline-primary">Logout</button>
                    </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-9">
                    <canvas id="springydemo" />
            </div>
            <div class="col-3 grey-bg">

                <h3 class="text-center my-3 font-weight-bold">Notifications:</h3>
                <div class="alert alert-warning" id ="myBtn">Wheat deficiency alert on centre 3</div>
                <div class="alert alert-danger">Cyclone alert on centre 2</div>
                <div class="alert alert-primary">Surplus wheat notification from centre 1</div>
                <div class="alert alert-warning">Rice deficieny in centre 1</div>
                <div class="alert alert-default">.....fetching updates from the server 
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                
                
            </div>
        </div>

        <div class = "jumbotron">
            <div class = "flex-container">
                <div class="w3-card-4 alert alert-warning" id ="c1" style="width:20%">

                    <div class="w3-container w3-center">
                      <h3>Centre-1</h3>
                    
                
                      <div class="w3-section">
                        Admin : <br>
                        Deficient Crops : <br>
                        Surplus Crops : <br>
                      </div>
                        
                      </div>
                    </div>
                
                    <div class="w3-card-4 alert alert-warning" id ="c2" style="width:20%">

                        <div class="w3-container w3-center">
                          <h3>Centre-1</h3>
                        
                    
                          <div class="w3-section">
                            Admin : <br>
                            Deficient Crops : <br>
                            Surplus Crops : <br>
                          </div>
                            
                          </div>
                        </div>
                    
                        <div class="w3-card-4 alert alert-warning" id ="c3" style="width:20%">

                            <div class="w3-container w3-center">
                              <h3>Centre-1</h3>
                            
                        
                              <div class="w3-section">
                                Admin : <br>
                                Deficient Crops : <br>
                                Surplus Crops : <br>
                              </div>
                                
                              </div>
                            </div>
                            <div class="w3-card-4 alert alert-warning" id ="c2" style="width:20%">

                                <div class="w3-container w3-center">
                                  <h3>Centre-1</h3>
                                
                            
                                  <div class="w3-section">
                                    Admin : <br>
                                    Deficient Crops : <br>
                                    Surplus Crops : <br>
                                  </div>
                                    
                                  </div>
                                </div>
                                <div class="w3-card-4 alert alert-warning" id ="c2" style="width:20%">

                                    <div class="w3-container w3-center">
                                      <h3>Centre-1</h3>
                                    
                                
                                      <div class="w3-section">
                                        Admin : <br>
                                        Deficient Crops : <br>
                                        Surplus Crops : <br>
                                      </div>
                                        
                                      </div>
                                    </div>
                        
                          
                    
            </div>
        </div>


    <script src="./jquery.js"></script>
    <script src="./spring.js"></script>
    <script src="./springyui.js"></script>
    <script>
        var graph = new Springy.Graph();
        var labels, connections;
        var obj = {}

        var server = graph.newNode({label:'server'})
        var center_1 = graph.newNode({label:'center-1'})
        var center_2 = graph.newNode({label:'center-2'})
        var center_3 = graph.newNode({label:'center-3'})
        var center_4 = graph.newNode({label:'center-4'})
        var center_5 = graph.newNode({label:'center-5'})

        var farmer_1 = graph.newNode({label:'farmers-1'})
        var farmer_2 = graph.newNode({label:'farmers-2'})
        var farmer_3 = graph.newNode({label:'farmers-3'})
        var farmer_4 = graph.newNode({label:'farmers-4'})
        var farmer_5 = graph.newNode({label:'farmers-5'})
        var farmer_6 = graph.newNode({label:'farmers-6'})
        var farmer_7 = graph.newNode({label:'farmers-7'})
        var farmer_8 = graph.newNode({label:'farmers-8'})
        var farmer_9 = graph.newNode({label:'farmers-9'})
        var farmer_10 = graph.newNode({label:'farmers-1'})
        var farmer_11 = graph.newNode({label:'farmers-11'})
        var farmer_12 = graph.newNode({label:'farmers-12'})
        var farmer_13 = graph.newNode({label:'farmers-13'})
        var farmer_14 = graph.newNode({label:'farmers-14'})
        var farmer_15 = graph.newNode({label:'farmers-15'})

        var farm_1 = graph.newNode({label:'farm-1'})
        var farm_2 = graph.newNode({label:'farm-2'})
        var farm_3 = graph.newNode({label:'farm-3'})
        var farm_4 = graph.newNode({label:'farm-4'})
        var farm_5 = graph.newNode({label:'farm-5'})
        var farm_6 = graph.newNode({label:'farm-6'})
        var farm_7 = graph.newNode({label:'farm-7'})
        var farm_8 = graph.newNode({label:'farm-8'})
        var farm_9 = graph.newNode({label:'farm-9'})
        var farm_10 = graph.newNode({label:'farm-1'})
        var farm_11 = graph.newNode({label:'farm-11'})
        var farm_12 = graph.newNode({label:'farm-12'})
        var farm_13 = graph.newNode({label:'farm-13'})
        var farm_14 = graph.newNode({label:'farm-14'})
        var farm_15 = graph.newNode({label:'farm-15'})


        var warehouse_1 = graph.newNode({label:'warehouse-1'})
        var warehouse_2 = graph.newNode({label:'warehouse-2'})
        var warehouse_3 = graph.newNode({label:'warehouse-3'})
        var warehouse_4 = graph.newNode({label:'warehouse-4'})
        var warehouse_5 = graph.newNode({label:'warehouse-5'})
        var warehouse_6 = graph.newNode({label:'warehouse-6'})
        var warehouse_7 = graph.newNode({label:'warehouse-7'})
        var warehouse_8 = graph.newNode({label:'warehouse-8'})
        var warehouse_9 = graph.newNode({label:'warehouse-9'})
        var warehouse_10 = graph.newNode({label:'warehouse-1'})
        var warehouse_11 = graph.newNode({label:'warehouse-11'})
        var warehouse_12 = graph.newNode({label:'warehouse-12'})
        var warehouse_13 = graph.newNode({label:'warehouse-13'})
        var warehouse_14 = graph.newNode({label:'warehouse-14'})
        var warehouse_15 = graph.newNode({label:'warehouse-15'})


        
        graph.newEdge(server,center_1,{color:'#00ff00'})
        graph.newEdge(server,center_2,{color:'#00ff00'})
        graph.newEdge(server,center_3,{color:'#00ff00'})
        graph.newEdge(server,center_4,{color:'#00ff00'})
        graph.newEdge(server,center_5,{color:'#00ff00'})

        graph.newEdge(center_1,farmer_1,{color:'orange'})
        graph.newEdge(center_1,farmer_2,{color:'orange'})
        graph.newEdge(center_1,farmer_3,{color:'orange'})
        graph.newEdge(center_2,farmer_4,{color:'orange'})
        graph.newEdge(center_2,farmer_5,{color:'orange'})
        graph.newEdge(center_2,farmer_6,{color:'orange'})
        graph.newEdge(center_3,farmer_7,{color:'orange'})
        graph.newEdge(center_3,farmer_8,{color:'orange'})
        graph.newEdge(center_3,farmer_9,{color:'orange'})
        graph.newEdge(center_4,farmer_10,{color:'orange'})
        graph.newEdge(center_4,farmer_11,{color:'orange'})
        graph.newEdge(center_4,farmer_12,{color:'orange'})
        graph.newEdge(center_5,farmer_13,{color:'orange'})
        graph.newEdge(center_5,farmer_14,{color:'orange'})
        graph.newEdge(center_5,farmer_15,{color:'orange'})


        graph.newEdge(farmer_1,farm_1,{color:'#0000ff'})
        graph.newEdge(farmer_1,farm_2,{color:'#0000ff'})
        graph.newEdge(farmer_1,farm_3,{color:'#0000ff'})
        graph.newEdge(farmer_2,farm_4,{color:'#0000ff'})
        graph.newEdge(farmer_2,farm_5,{color:'#0000ff'})
        graph.newEdge(farmer_2,farm_6,{color:'#0000ff'})
        graph.newEdge(farmer_3,farm_7,{color:'#0000ff'})
        graph.newEdge(farmer_3,farm_8,{color:'#0000ff'})
        graph.newEdge(farmer_3,farm_9,{color:'#0000ff'})
        graph.newEdge(farmer_4,farm_10,{color:'#0000ff'})
        graph.newEdge(farmer_4,farm_11,{color:'#0000ff'})
        graph.newEdge(farmer_4,farm_12,{color:'#0000ff'})
        graph.newEdge(farmer_5,farm_13,{color:'#0000ff'})
        graph.newEdge(farmer_5,farm_14,{color:'#0000ff'})
        graph.newEdge(farmer_5,farm_15,{color:'#0000ff'})

        graph.newEdge(farmer_1,warehouse_1,{color:'#ff0000'})
        graph.newEdge(farmer_1,warehouse_2,{color:'#ff0000'})
        graph.newEdge(farmer_1,warehouse_3,{color:'#ff0000'})
        graph.newEdge(farmer_2,warehouse_4,{color:'#ff0000'})
        graph.newEdge(farmer_2,warehouse_5,{color:'#ff0000'})
        graph.newEdge(farmer_2,warehouse_6,{color:'#ff0000'})
        graph.newEdge(farmer_3,warehouse_7,{color:'#ff0000'})
        graph.newEdge(farmer_3,warehouse_8,{color:'#ff0000'})
        graph.newEdge(farmer_3,warehouse_9,{color:'#ff0000'})
        graph.newEdge(farmer_4,warehouse_10,{color:'#ff0000'})
        graph.newEdge(farmer_4,warehouse_11,{color:'#ff0000'})
        graph.newEdge(farmer_4,warehouse_12,{color:'#ff0000'})
        graph.newEdge(farmer_5,warehouse_13,{color:'#ff0000'})
        graph.newEdge(farmer_5,warehouse_14,{color:'#ff0000'})
        graph.newEdge(farmer_5,warehouse_15,{color:'#ff0000'})

        graph.newEdge(center_1,center_5,{color: '#ff00ff'})
        graph.newEdge(center_2,center_1,{color: '#ff00ff'})
        graph.newEdge(center_3,center_2,{color: '#ff00ff'})
        graph.newEdge(center_4,center_3,{color: '#ff00ff'})
        graph.newEdge(center_5,center_4,{color: '#ff00ff'})

        function callapi(){
            fetch("http://127.0.0.1:8000/transaction/DefCentreView");
            var centre = document.getElementById("c1");
            centre.className += "alert alert-danger";
            document.getElementById("c3").className = "alert alert-primary";
        }
        document.getElementById("myBtn").addEventListener("click", callapi);

        // fetch('http://localhost:8000/user/graphy/')
        //     .then(d => d.json())
        //     .then(d => {


        //         labels = d.labels
        //         connections = d.connections
        //         // for(x in connections){
        //         //     labels.push(connections[x][0])
        //         //     labels.push(connections[x][1])
        //         // }

        //         for (x in labels) {
        //             obj[labels[x]] = graph.newNode({
        //                 label: labels[x]
        //             });
        //         }
        //         // console.log(obj)
        //         for (x in connections) {
        //             console.log(connections[x])
        //             one = obj[connections[x][0]]
        //             two = obj[connections[x][1]]

        //             if (one && two) {
        //                 graph.newEdge(one, two)
        //             }

        //         }
        //         // console.log(labels)
        //         // console.log(connections)



        //     })


        jQuery(function () {
            var springy = window.springy = jQuery('#springydemo').springy({
                graph: graph,
                nodeSelected: function (node) {
                    console.log('Node selected: ' + JSON.stringify(node.data));
                }
            });



            var demo = document.querySelector('#springydemo')
            demo.setAttribute('width', window.innerWidth-300)
            demo.setAttribute('height', window.innerHeight-200)
        });




        // main()
        // setInterval(main, 1000);
    </script>

    
</body>

</html>