<html>

<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="./spring.js"></script>
    <script src="./springyui.js"></script>
    <script>
        fetch('http://localhost:8000/user/graphy/')
            .then(d => d.json())
            .then(d => {
                var graph = new Springy.Graph();
                var labels, connections;
                var obj = {}


                labels = d.labels
                connections = d.connections

                for (x in labels) {
                    obj[labels[x]]= graph.newNode({
                        label: labels[x]
                    });
                }
                console.log(obj)
                for (x in connections) {
                    graph.newEdge(
                        obj[connections[x][0]], 
                        obj[connections[x][1]], {
                        color: connections[x][2]
                    })
                }
                console.log(labels)
                console.log(connections)


                jQuery(function () {
                    var springy = window.springy = jQuery('#springydemo').springy({
                        graph: graph,
                        nodeSelected: function (node) {
                            console.log('Node selected: ' + JSON.stringify(node.data));
                        }
                    });

                    var demo = document.querySelector('#springydemo')
                    demo.setAttribute('width', window.innerWidth)
                    demo.setAttribute('height', window.innerHeight)
                });
            })






        // main()
        // setInterval(main, 1000);
    </script>

    <canvas id="springydemo" />
</body>

</html>